<div [ngStyle]="{'height.px': A, 'width.px': B}" class="rectangle"></div>
<br>
<div class="menu">
    <div>
        <input class="form-control-sm" (ngModelChange)="onChange()" [(ngModel)]="A" type="number" min="1">
        <label>cm</label>
        <input class="form-control-sm" (ngModelChange)="onChange()" [(ngModel)]="B" type="number" min="1">
        <label>cm</label>
        <br>
        <Label>Area: {{area}}</Label>
        <br>
        <Label>Circumference: {{circumference}}</Label>
    </div>
</div>
    